<title>looking for equipment to good use :)</title>
  <h1>Welcome to my homework application</h1>
  <h4>Give 4 list of integers to everyone of these textareas</h4>
  <h4>Integers Should be seperated by newline character</h4>
  <h4>return type is a boolean</h4>
  <h4>the inputs that other than integers are omitted</h4>
    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <textarea name="input3" rows="10" cols="30"></textarea>
        <textarea name="input4" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
