<title>looking for equipment to good use :)</title>
  <h1>Welcome to my homework application</h1>
  <h3>Your are expected to give 4 integer arrays and we you submit we will show you is there any "0" in one of your arrays</h3>

    Result is {{result}}


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <textarea name="input3" rows="10" cols="30"></textarea>
        <textarea name="input4" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
